#!/bin/bash
export HISTSIZE=5000
export HISTFILESIZE=5000
export HISTTIMEFORMAT="%F %T - $(who am i |awk -F[\(\)] '{print $2}') $(whoami) #history# "

if [ -x /usr/bin/logger ]; then
  export PROMPT_COMMAND='{ msg=$(history 1 | { read x y; echo $y; });logger -p local6.info [`pwd`] "$msg"; }'
fi
